<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.base.mapper.ProjectsMapper">


    <resultMap id="getProjectDTO" type="com.base.dto.ProjectDTO">
        <id column="project_id" property="projectId"/>
        <result column="project_name" property="projectName"/>
        <result column="project_content" property="projectContent"/>
        <result column="project_create" property="createDate"/>
        <collection property="team" ofType="com.base.entity.Teams">
            <id column="team_id" property="teamId"/>
            <result column="create_date" property="createDate"/>
            <result column="team_name" property="teamName"/>
            <result column="team_state" property="teamState"/>
        </collection>
    </resultMap>

    <select id="getAllPublic" resultMap="getProjectDTO">
        select p2.project_id,p2.project_content,p2.project_create
             ,p2.project_name,t.*
            from (
                select * from projects p
                    where p.project_type=#{project_type} and p.project_state=#{project_state}
                    limit #{page_vo.pageNo},#{page_vo.pageSize}
                ) as p2
            inner join teams t on p2.team_id=t.team_id
    </select>


    <select id="getMyProject" resultMap="getProjectDTO">
        select p2.project_id,p2.project_content,p2.project_create
             ,p2.project_name,t.*
        from (
            select * from projects p
                where p.project_type=#{project_type}
                and p.project_state=#{project_state}
                and p.team_id in (
                    select team_id from team_user where user_id=#{user_id}
                )
                limit #{page_vo.pageNo},#{page_vo.pageSize}
            ) as p2
        inner join teams t on p2.team_id=t.team_id
    </select>
</mapper>
